
.navbar_overall {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 1px 1px 6px 1px #5383b524;
}
.logo {
    display: flex;
    width: 106px;
    max-height: 103px;
    object-fit: contain;
    cursor: pointer;
}
.product h2 {
    color: #5f96cf;
    cursor: pointer;
    display: flex;
}
.logo img {
    width: 100%;
}

.product {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.navbar_overall .container {
    display: flex;
    flex-wrap: wrap;
}

.cart_list button {
    background: #5f96cf;
    border: none;
    color: #fff;
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.cart_list {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}